* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}
.title-section {
  font-size: 2.5rem;
  font-weight: 800;
  padding-bottom: 10px;
}

